.idea/
tmp/
.Rhistory
.DS_Store
__pycache__/
data/phylo/*/full/*.log
data/phylo/*/full/*.trees
data/polygons/*_glottocode_to_polygons.csv
data/polygons/*.gpkg
data/water/*.gdb/
data/water/*.pbf
data/water/tmp*
data/datasets/chirila/LoanStats.csv
data/glm/compiled*
data/glm/*.RData
