.idea/
tmp/
.Rhistory
.DS_Store
__pycache__/
data/phylo/gammaspike/full/*.log
data/phylo/gammaspike/full/*.trees
data/glottography/*_glottocode_to_polygons.csv
data/glottography/*.gpkg
data/water/*.gdb/
data/water/*.pbf
data/water/tmp*
data/datasets/chirila/LoanStats.csv
